/* Mouaad Chentaf - Malak Jarras */

/* Styles généraux */
fieldset {

}

p {
    width: 668px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;
    color: #605ca8;
    word-wrap: break-word; /* Ajusté pour une meilleure compatibilité */
    padding: 4px;
}

table {
    width: 675px;
    border: none;
}

/* Styles des images */
#dessin {
    width: 400px;
    height: 433px;
}

#phylactere {
    width: 275px;
    height: 192px;
}

#personnage {
    width: 275px;
    height: 241px;
}

/* Zone du mot caché */
#mot_cache {
    width: 500px;
    position: absolute;
    left: 15px;
    top: 390px;
    text-align: center;
}

#hiddenLetter0 {
    margin-right: 10px;
}

/* Alphabet */
#alphabet {
    width: 400px;
    position: absolute;
    text-align: center;
    top: 85%;
    left: 4%;
}

/* Conteneur principal */
#monDiv {
    border-style: solid;
    position: relative;
    border-color: #605ca8;
    padding: 2px;
    width: 676px;
    border-radius: 10px;
}

/* Style des boutons désactivés */
.disabled {
    opacity: 0.1;
}